.header {
    text-align: center;
    padding: 3rem 1rem 2rem;
    background-color: white
    border-bottom: 1px solid #ddd ;
    
}

.header h1 {
  margin: 0;
  font-size: 3.5rem;
}

.header p {
  max-width: 600px;
  margin: 0.75rem auto 0;
  font-size: 1rem;
  line-height: 1.5;
}